.latest {
  width: 90%;
  max-width: 80rem;
  margin: var(--size-8) auto;
}

.latest h2 {
  font-size: var(--size-8);
  padding-bottom: 5px;
  margin: 0;
}

.latest > h2 {
  border-bottom: #ffd200 5px solid;
}
